{{ 'banner-simple.out.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign imageWidth = section.settings.image.width
  assign imageHeight = imageWidth | divided_by: section.settings.image.aspect_ratio
  if section.settings.image_lazy
    assign imageLoading = 'lazy'
  else
    assign imageLoading = ''
  endif
-%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mob }}px;
    padding-bottom: {{ section.settings.padding_bottom_mob }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="banner-simple position-relative section-{{ section.id }}-padding">
  <div class="banner-simple__wrapper">
    <h1
      class="position-relative color-{{ section.settings.color_scheme }} text-uppercase text-{{ section.settings.text_align }} scroll-trigger animate--slide-in"
      style="--animation-order: 0;"
      data-cascade
    >
      {{ section.settings.title }}
    </h1>
    <div class="banner-simple__background">
      {%- if section.settings.image != blank -%}
        <picture class="img-position-{{ section.settings.img_align }}">
          {%- if section.settings.image_mobile != blank -%}
            <source
              media="(max-width: 749.98px)"
              srcset="
                {%- if section.settings.image_mobile.width >= 375 -%}{{ section.settings.image_mobile | image_url: width: 375 }} 375w,{%- endif -%}
                {%- if section.settings.image_mobile.width >= 550 -%}{{ section.settings.image_mobile | image_url: width: 550 }} 550w,{%- endif -%}
                {%- if section.settings.image_mobile.width >= 750 -%}{{ section.settings.image_mobile | image_url: width: 750 }} 750w,{%- endif -%}
              "
            >
          {%- endif -%}
          {{
            section.settings.image
            | image_url: width: 3840
            | image_tag:
              loading: imageLoading,
              width: imageWidth,
              height: imageHeight,
              class: imageClass,
              sizes: '100vw',
              widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
          }}
        </picture>
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Banner Simple",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image Desktop"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image Mobie"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Horizontal alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "img_align",
      "label": "Img Position Desktop",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_top_mob",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Mobile",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom_mob",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Mobile",
      "default": 32
    }
  ],
  "presets": [
    {
      "name": "Banner Simple",
      "category": "Custom"
    }
  ]
}
{% endschema %}
